management:
  info:
    java:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health, info

spring:
  cloud:
    config:
      enabled: false
  application:
    name: kisonar-poc-spring
    main:
      banner-mode: "on"
    http.encoding:
      charset: UTF-8
      enabled: true
      force: true
      # datasource:
      #  url: jdbc:mariadb://localhost:3306/default_database
      #  username: user
      #  password: pass
      #  driver-class-name: org.mariadb.jdbc.Driver
      #jpa:
      #  show-sql: true
      #  hibernate:
      #ddl-auto: create
  #    naming:
  #      physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl # files underscores in JPA

guacamole:
  guacd:
    host: 127.0.0.1
    port: 4822
  client:
    host: 192.67.234
    port: 5900
    protocol: vnc
    ignore-cert: true
    password: Marcin
