name: 'Kisonar POC CI'

on:
  workflow_dispatch:
    inputs:
      target_env:
        description: 'Environment to which make the terraform deployment'
        required: true
        default: dev

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: GitHub checkout action
        uses: actions/checkout@v6
      - name: Setup Java 25
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '25'
      - name: Print Java version
        run: java --version		  
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          gradle-version: 9.3.1
      - name: Print Gradle version
        run: gradle --version
      - name: Execute Gradle build
        run: gradle clean build